**/target/**
core-app/conf/hostkey.ser
core-app/conf/equinox_authorized_keys
core-app-test/conf/equinox_authorized_keys
core-app-test/conf/hostkey.ser
core-app-test/conf/org.eclipse.equinox.console.authentication.config
**/.env
